<template>
  <div class="about">
    <h1>This is an about page all users </h1>

    <div class="info" v-for="user in users" :key="user"
    :class="{ 'active': user.id % 2 === 1 }"
    >
      <ul>
        <strong>id</strong>
        <li>{{ user.id }}</li>
      </ul>
      <ul>
        <strong>name</strong>
        <li>{{ user.name }}</li>
      </ul>
      <ul>
        <strong>username</strong>
        <li>{{ user.username }}</li>
      </ul>
      <ul> 
        <strong>email</strong>
        <li>{{ user.email }}</li>
      </ul>
      <ul> <strong>street</strong>
        <li>{{ user.address.street }}</li>
      </ul>
      <ul> <strong>address</strong>
        <li>{{ user.address.suite }}</li>
      </ul>
      <ul> <strong>suite</strong>
        <li>{{ user.address.suite }}</li>
      </ul>
      <ul> <strong>city</strong>
        <li>{{ user.address.city }}</li>
      </ul>
      <ul> <strong>zipcode</strong>
        <li>{{ user.address.zipcode }}</li>
      </ul>
      <ul> <strong>geo:lat</strong>
        <li>{{ user.address.geo.lat }}</li>
      </ul>
      <ul> <strong>geo:lng</strong>
        <li>{{ user.address.geo.lng }}</li>
      </ul>
      <ul> <strong>phone</strong>
        <li>{{ user.phone }}</li>
      </ul>
      <ul> <strong>website</strong>
        <li>{{ user.website }}</li>
      </ul>
      <ul> <strong>company:name</strong>
        <li>{{ user.company.name }}</li>
      </ul>
      <ul> <strong>company:catchPhrase</strong>
        <li>{{ user.company.catchPhrase }}</li>
      </ul>
      <ul> <strong>company:bs</strong>
        <li>{{ user.company.bs }}</li>
      </ul>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data(){
    return{
      users: [],
    }
  },
  methods:{
    getUsers: function() {
      var app = this;
      axios
        .get("https://jsonplaceholder.typicode.com/users")
        .then(function(response) {
          app.users = response.data;
        })
        .catch(function(error) {
          console.log(error.message);
        });
    },
  },
  created() {
    this.getUsers();
  }
  
}
</script>
<style>
*{
  font-size: small;
}
  .info{
    display: flex;
    justify-content: space-around;
    border: 1px solid;
  }
  ul, li{
    padding: 5px;
    list-style: none;
  }
  .active{
    background-color: lightblue;
  }
 
</style>