<template>
  <div class="home">
    <table class="table" v-if="!showModal">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>username</th>
          <th>Get full info</th>
        </tr>
      </thead>

      <tbody>
        <tr v-for="user in users" :key="user.id" :class="{ 'active': user.id % 2 === 1 }">
          <td >{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.username }}</td>
          <td>
            <button @click="(getUserId(user), showModal=true)"
            
            >
            Get info
            </button>
          </td>
        </tr>
      </tbody>
    </table>

      <modal id="show-modal" v-if="showModal && choosenUser">
        <div class="modal">
          <div class="modal-head">
            <h3 slot="header">Id: {{choosenUser.id }}</h3>
            <p>Name: {{ choosenUser.name }}</p>
            <p>username: {{ choosenUser.username }}</p>
            <p>email: {{ choosenUser.email }}</p>
          </div>
          <div class="modal-body">
            <h3>address</h3>
            <p>street: {{ choosenUser.address.street }}</p>
            <p>suite: {{ choosenUser.address.suite }}</p>
            <p>city: {{ choosenUser.address.city }}</p>
            <p>zipcode: {{ choosenUser.address.zipcode }}</p>
          </div>
          <div class="modal-body">
            <h3>Geo</h3>
            <p>street: {{ choosenUser.address.geo.lat }}</p>
            <p>street: {{ choosenUser.address.geo.lng }}</p>
          </div>
          <div class="modal-footer">
            <slot name="footer">
              <p>phone: {{ choosenUser.phone }}</p>
              <p>website: {{ choosenUser.website }}</p>
              <h3>company</h3>
              <p>name: {{ choosenUser.company.name }}</p>
              <p>catchPhrase: {{ choosenUser.company.catchPhrase }}</p>
              <p>bs: {{ choosenUser.company.bs }}</p>
            </slot>
          </div>
        </div>
        <button class="clsBtn" @click="showModal = false">Close Modal</button>
      </modal>


  </div>
</template>

<script>
// @ is an alias to /src
import axios from "axios";

export default {
   data() {
    return {
      users: [],
      errors: [],
      showModal: false,
      choosenUser: undefined
    };
  },
  methods: {
    getUsers: function() {
      var app = this;
      axios
        .get("https://jsonplaceholder.typicode.com/users")
        .then(function(response) {
          app.users = response.data;
        })
        .catch(function(error) {
          console.log(error.message);
        });
    },
    getUserId: function(user) {
      console.log(user)
      this.choosenUser = user
    },
  },

  created() {
    this.getUsers();
  },
}
</script>
<style >
.table {
  margin: 0 auto;
}
tr,
th,
td {
  padding: 5px;
  border: 1px solid;
}
.modal{
  display: flex;
  justify-content: space-around;
  border: 1px solid;
  align-items: center;
  text-align: start;
}
.clsBtn{
  margin: 10px;
  padding: 5px;
}
</style>